.App {
  text-align: center;
}

a {
  text-decoration: none;
}

.deck {
  display: flex;
  flex-direction: column;
}

.card_list_component {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card_list {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 2em;
  max-width: 80%;
  overflow-x: auto;
  overflow-y: hidden;
}

.card_list_item {
  border: 0.3px solid black;
  background-color: beige;
}
